@font-face {
    font-family: 'Fruity-Stories';
    src:url('./fruity/Fruity-Stories.ttf.woff') format('woff'),
     url('./fruity/Fruity-Stories.ttf.svg#Fruity-Stories') format('svg'),
     url('Fruity-Stories.ttf.eot'),
     url('Fruity-Stories.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: #304011;
}
.navbar{
    padding: 0.1rem 1rem;
    /* padding-left: 0%; */
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.3rem;
}
.navbar-light .navbar-nav .nav-link{
    color: #304011;
}
.nav-link:hover{
    color: #ee5500 !important;
    cursor: pointer;
}
.carousel-inner .carousel-item img {
    margin-left: 10%;
    margin-bottom: 5px;
    width: 80%;
}
.jumbotron{
    /* background-color: #304011; */
    padding: 2rem 1rem;
    width: 80%;
    font-size: 1.3rem;
    margin: 2% 10%;
    background-color: #ee5500;
    color: white;
}
.jumbotron .bold{
   margin-bottom: 10px;
}
.order button{
    width: 100%;   
}
.grey{
    text-align: center;
    padding: 20px;
    margin: 0 4% 2%;
    background-color: rgba(211, 211, 211, 0.336);
}
.hilight{
    color: #304011;
    font-size: 80%;
}
.bigger{
    font-family: 'Fruity-Stories';
    font-size: 180%;
    color: #ee5500;
}
.hr{
    margin-bottom: 30px;
    width: 60%;
    border-top: solid #304011 1px;
}
.modes p{
    color: #1a0dab;
    cursor: pointer;
}
.modes p:hover{
    text-decoration: underline;
}
.times{
    color: #ee5500;
    font-size: 1.1rem;
}
.tt{
    font-size: .9rem;
}

footer{
    background-color: #ee5500;
    color: white;
    padding-top: 2rem;
}
.light{
    border-top: 1px solid #30401181;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: white;
}
.social a{
    font-size: 2.5rem;
    padding: 1rem;
    width: 10px;
}
.social a:hover{
    color: #d9d9d9;
    /* background-color: #4e4e4e; */
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-whatsapp,
.modes p,
.nav-link,
a .num{
    transition: all 1s;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-whatsapp:hover,
.modes p:hover,
.nav-link:hover,
a .num{
    transform: scale(1.1);
}
div h5{
    margin: 1.2rem 0 0;
}
.num, .fa-whatsapp{
    font-size: 2rem;
}
.light-100{
    border-top: 1px solid #30401181;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 576px){
    .order{
        width: 100%;
        text-align: center;
    }
    .ttt{
        font-size: .8rem;
    }  
}

@media only screen and (min-width: 576px){
    .nav-link{
        font-size: 1.1rem;
    }   
}
@media only screen and (min-width: 768px){
    .navbar{
        padding: 0.1rem 1rem;
    }
    .nav-link{
        font-size: 1.1rem;
    }
    .jumbotron{
        padding: 2rem 1rem;
    }
    .jumbotron .bold h6{
        margin: 0 2rem;
        font-size: 1.3rem;
     }
    .carousel-inner .carousel-item img {
        margin-left: 20%;
        margin-bottom: 5px;
        width: 60%;
    }
    .bold h3 {
        font-size: 180%;
    }
    .hilight{
        font-size: 130%;
    }
    .bigger{
        font-size: 150%;
    }
    .times{
        font-size: 1.5rem;
    }
}
@media(min-width: 992px){
    .nav-link{
        font-size: 1.5rem;
    }
}
/* Firefox Bug Fix */
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}